/*** import fonts ***/
@import url('https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans:300,400');

*   {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
html {
    font-family: "Nunito Sans", sans-serif;
}
.bg-img {
    background-image:url("pictures/professional-desk.jpg");
    background-repeat:no-repeat;
    background-size: 100% 140%;
    -webkit-filter: blur(3px) opacity(80%);
    -moz-filter: blur(3px) opacity(80%);
    -o-filter: blur(3px) opacity(80%);
    -ms-filter: blur(3px) opacity(80%);
    filter: blur(3px) opacity(80%);
    position: fixed;
    width: 100%;
    height: 100%;
    top: -35px;
    left: 0;
    z-index: -2; 
    }

/* header */
.header {
    background-color: transparent;
    padding: 5%;
    position: fixed;
}
.header #home {
    float: left;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    /* button fade */
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
#home:hover {
    color: lightgrey;
}
.header #resume {
    float: right;
    border: solid 0.1em; 
    padding: 10px 60px;
    background-color: transparent;
    color: white;
    font-size: 12px;
    /* button fade */
    -webkit-transition: all ease 0.9s;
    -moz-transition: all ease 0.9s;
    -o-transition: all ease 0.9s;
    -ms-transition: all ease 0.9s;
    transition: all ease 0.9s;
}
#resume:hover {
    background-color: white;
    color: red;
    border-color: red; 
}

/* frontpage */
.frontpage {
    text-align: center;
    color: white;
    z-index: 10;
}
.frontpage h1 {
    font-size: 500%;
    margin-top: 200px;
    margin-bottom: 0px;
    letter-spacing: 3px;
}
.frontpage h5 {
    font-size: 150%;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 7%;
    color: #94A3BA;
    letter-spacing: 3px;
}
.frontpage img {
    margin-bottom: -145px;
    border-radius: 100%;
    padding: 1%;
    background-color: white;
    height: 240px;
    width: 240px;
    z-index: 10;
    position: relative;
}

/* carousel box */ 
.box-carousel {
    background-color: #edf0fa;
}
.carousel-slide {
    visibility: hidden;
}

/* box-display */
.box-display {
    padding: 5% 10%;
    font-size: 0px;
    background-image: url(pictures/business-desk.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.box-display h5 {
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    color: white;
    letter-spacing: 4px;
    margin-top: 50px;
}
.box-display h4 {
    letter-spacing: -8px;
    font-size: 50px;
    margin: -20px 0px 5px;
    color: white;
    font-weight: 1000;
}
.boxwrap {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
.box {
    font-size: 16px;
    text-align: center;
    min-height: 270px;
    display: inline-block;
    -webkit-filter: opacity(90%);
    background-color: white;
}
.box:hover {
    -webkit-filter: opacity(100%);
    -moz-filter: opacity(100%);
    -o-filter: opacity(100%);
    -ms-filter: opacity(100%);
    filter: opacity(100%);
}
.one {
    background-color: #b3cce6;
}
.box h2 {
    padding: 20% 20% 0% 20%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    
}
.box p {
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0;
    color: #e60000;
}
#text {
    color: #264d73;
}

/* QUICK ID */
.quick-id {
    background-color: #024576;
    color: white;
    height: 500px;
    font-weight: 100;
    padding: 5%;
}
.quick-id h5 {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    color: white;
    letter-spacing: 3px;
}
.quick-id h4 {
    letter-spacing: -8px;
    font-size: 50px;
    margin: -20px 0px 5px;
    color: red;
    font-weight: 1000;
}
table {
    margin-top: 25px;
}
td {
    padding: 5px 20px 5px 0px;
}
td a {
    text-decoration: none;
    color: white; 
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    color: lightgrey;
}
#td1 {
    font-weight: bolder;   
}

/* contact me form */
.contact-me {
    background-color: #a8c1dd;
    padding: 5%;
    height: 500px;
}
.contact-me h5 {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    color: white;
    letter-spacing: 3px;
}
.contact-me h4 {
    letter-spacing: -8px;
    font-size: 50px;
    margin: -20px 0px 5px;
    color: red;
    font-weight: 1000;
}
input[type="text"] {
    width: 80%;
    padding: 3px 5px;
    margin: 6px;
    border: none;
    border-bottom: #024576 solid 1px;
    background-color: transparent;
    font-size: 16px;
    color: white;
    resize: none;
}
input[name="namn"] {
    float:left;
}
input[name="e-post"] {
}
input[name="meddelande"] {
}
input::placeholder {
    color:  #336699;
    letter-spacing: 1px;
}

textarea {
    width: 80%;
    padding: 3px 5px;
    margin: 6px;
    box-sizing: border-box;
    border: none;
    border-bottom: #024576 solid 1px;
    background-color: transparent;
    font-size: 16.5px;
    color: white;
    resize: none;
}
textarea::placeholder {
    color:  #336699;
    letter-spacing: 1px;
    font-family: 'nunito';
}

input[type="submit"] {
    width: 80%;
    padding: 3px 5px;
    margin: 6px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #336699;
    resize: none;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
input[type="submit"]:hover {
    color: #024576;
}


/*  footer */
.footer {
    padding: 5%; 
    background-color: #edf0fa;
}

.footer #resume {
    float: left;
    border: solid 0.1em; 
    padding: 16.5px 125px;
    background-color: transparent;
    color: black;
    font-size: 12px;
    /* button fade */
    -webkit-transition: all ease 0.9s;
    -moz-transition: all ease 0.9s;
    -o-transition: all ease 0.9s;
    -ms-transition: all ease 0.9s;
    transition: all ease 0.9s;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
#resume:hover {
    background-color: white;
    color: red;
    border-color: red;
    -webkit-filter: blur(0px) opacity(90%);
    -moz-filter: blur(0px) opacity(90%);
    -o-filter: blur(0px) opacity(90%);
    -ms-filter: blur(0px) opacity(90%);
    filter: blur(0px) opacity(90%);
}
/* social media icons */
.footer ul {
    margin-right: 70px;
    margin-top: -80px;
}

ul li, #socialnetwork {
    float:right;
    display: inline-block;
    margin: 2px;
}
#socialnetwork {
    margin-right: -170px
}
ul li:hover{
    -webkit-filter: brightness(115%);
    -moz-filter: brightness(115%);
    -o-filter: brightness(115%);
    -ms-filter: brightness(115%);
    filter: brightness(115%);
}
ul li img {
    height: 30px; 
}

/* screen adjustment */
@media only screen and (max-width: 600px) {
/* for mobile phones */
    [class*="col-"] {
        width: 100%;
    }
.bg-img {
    background-image:url("pictures/skyscraper.jpg");
    background-repeat:no-repeat;
    background-size: 100% 120%;
    -webkit-filter: blur(0px) opacity(100%);
    -moz-filter: blur(3px) opacity(100%);
    -o-filter: blur(3px) opacity(100%);
    -ms-filter: blur(3px) opacity(100%);
    filter: blur(0px) opacity(100%);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    z-index: -2; 
    }
.header #home {
    font-size: 20px;
}
#home:hover {
    color: white;
}
.header #resume {
    padding: 10px 20px;
    font-size: 10px;
}
.frontpage h1 {
    font-size: 250%;
    margin-top: 100px;
    margin-bottom: 0px;
}
.frontpage h5 {
    font-size: 110%;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 70px;
}
.box-display {
    padding: 5% 0%;
    font-size: 0px;
    min-height: 200px;
    background-image: none;
    }
.quick-id {
    height: 400px;
}
.footer {
    text-align: center;
}
.footer #resume {
    padding: 12px 90px;
    /* button fade */
    -webkit-transition: all ease 0.9s;
    -moz-transition: all ease 0.9s;
    -o-transition: all ease 0.9s;
    -ms-transition: all ease 0.9s;
    transition: all ease 0.9s;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}
.footer ul {
margin: 0px auto; 
margin-right: 27%
}
#socialnetwork {
    margin: 0 auto;
    margin-right: 16%
}
}

@media only screen and (min-width: 600px) {
    /* for tablets */
    .col-m-1 {width: 8.33%}
    .col-m-2 {width: 16.66%}
    .col-m-3 {width: 25%}
    .col-m-4 {width: 33.33%}
    .col-m-5 {width: 41.66%}
    .col-m-6 {width: 50%}
    .col-m-7 {width: 58.33‰}
    .col-m-8 {width: 66.66%}
    .col-m-9 {width: 75%}
    .col-m-10 {width: 83.33%}
    .col-m-11 {width: 91.66%}
    .col-m-12 {width: 100%}
}

@media only screen and (min-width: 768px) {
/* for desktop */
.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}
}
